fastapi
uvicorn[standard]
pydantic
cassandra-driver
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
authlib
pulsar-client
avro
# Application dependencies
-e ../../libs/shared
py-w3c-vc
grpcio
hyperledger-fabric-sdk

# Development and Testing
pytest
black
ruff
python-consul
hvac
requests 