# Base dependencies
-r ../../requirements/base.in

# Additional dependencies for Real-time Analytics service
-e ../../libs/platformq-shared
-e ../../libs/platformq-events
fastapi
uvicorn
pyignite
pandas
scikit-learn 