-r ../../requirements/base.in

# Service-specific dependencies
ipfshttpclient
python-jose[cryptography]
httpx
minio
pydantic-settings
arweave-python-client
hvac
 
# Development and Testing
pytest
black
ruff
redoc 