-r ../../requirements/base.in

# Service-specific dependencies
python-jose[cryptography]

# No service-specific Python dependencies are needed for this service.

# Development and Testing
pytest
black
ruff
redoc 

-e ../../libs/platformq-shared
-e ../../libs/platformq-events
fastapi
uvicorn
pydantic
requests 