-e ../../libs/platformq-shared
-e ../../libs/platformq-events
fastapi
uvicorn[standard]
pydantic
pyspark==3.5.0
delta-spark==3.0.0
minio
pandas
pyarrow
numpy
pulsar-client
httpx
asyncpg
confluent-kafka
great-expectations
pydeequ
asyncio-mqtt
boto3
findspark 