-r ../../requirements/base.in
zulip
hvac

# Service-specific dependencies
schedule

# Development and Testing
pytest
black
ruff 
-e ../../libs/platformq-shared
-e ../../libs/platformq-events
fastapi
uvicorn
Jinja2
aiosmtplib 