fastapi
uvicorn[standard]
pydantic
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
authlib
pulsar-client
avro
-e ../shared

# Development and Testing
pytest
black
ruff
python-consul
hvac
redoc-cli 