-r ../../requirements/base.in

# This service uses PostgreSQL and Alembic for migrations
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]

# Development and Testing
pytest
black
ruff
redoc 